html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shrink {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  background-color: #f9f9f9;
  color: #333;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 0;
}

.drop-area.dragging {
  border-color: #3066BE;
  background-color: #DCE4F7;
  color: #3066BE;
}

.drop-area:hover {
  background-color: #E3E6F3;
}

/* Optional: Add more styling for other elements within your application for a consistent look */

.alert {
  padding: 20px;
  color: #fff;
  border-radius: 5px;
  margin: 10px 0;
  opacity: 0.9;
  transition: opacity 0.5s ease;
}

.alert-success {
  background-color: #4CAF50;
  /* Green */
}

.alert-failure {
  background-color: #f44336;
  /* Red */
}

.hidden {
  display: none;
}


.main-login-background {
  background-image: linear-gradient(#7BDFF2, #B2F7EF)
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blurred {
  filter: blur(5px);
}

